@import "modules/reset";
@import "modules/variables";
@import "modules/layout";

body, html {
  padding: 0;
  margin: 0;
}

#app {
  padding: 12px;
  background: $white;
}

#appName {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 8px auto;
  padding: 0;
}

#appNameExpanded {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 1em auto;
    padding: 0;
}

#savedMessage {
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 1em auto;
    padding: 0;
    color: green;
    visibility: collapse;
}

#machineNameLabel {
    color: $text-secondary;
    text-transform: uppercase;
    font-size: 12px;
}

#machineName {
    border: 1px solid #a6a6a6;
    height: 32px;
    font-size: 12px;
    border-radius: 0;
    background: none;
    color: #333333;
    padding: 0 12px 0 6px;
    outline: 0;
}